<h1>New Band</h1>

<%= render 'errors' %>
<div class='form'>
  <form action="<%= bands_url %>" method="post">
    <%= auth_token %>
    <input type="text" name="band[name]" value="<%= @band.name %>" placeholder="band name">
    <input type="submit" value="Create Band" class="submit">
  </form>
</div>
