// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

.form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;

}

input[type='text'], input[type='password'] {
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.submit {
  width: 502px;
  height: 50px;
  padding: 0px 0px 0px 0px;
  // margin: -5px 0px 0px 0px;
  background: $secondary;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: white;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
}



#submit:hover {
  color: #e2dedb;
}
