.form {
  // background-color: blue;
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;

  input[type='text'], input[type='password'], textarea {
    padding: 15px;
    border: 1px solid $secondary;
    width: 100%;
    margin: 5px;
    color: $dark-grey;
  }

  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
  	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  	padding: 9px;
  	border-radius: 3px;
  	position: relative;

    &:checked {

      &:after {
        content: '\2714';
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: $primary;
      }
    }
  }

  select {
    padding: 5px 8px;
    width: 105%;
    margin-left: 10px;
    border: none;
    box-shadow: none;
    background: $secondary;
    color: $white;
    font-size: 0.875em;
    border-radius: 0px;
    background-image: none;
    -webkit-appearance: none;
  }


  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: $secondary;
    font-size: 0.875em;
  }

  label {
    padding: 10px;
    font-size: 12px;
    color: $secondary;
  }

  .submit {
    width: 100%;
    text-align: center;
    background: $secondary;
    border: 1px solid $secondary;
  }
}
