
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
}

main {
  margin: 20px;
}

h1 {
  font-size: 24px;
  margin: 10px;
}

h2 {
  font-size: 18px;
  margin: 10px;
}

.button {
  background: $primary;
  padding: 15px;
  color: $white;
  margin: 5px;
}

.button-outline {
  @extend .button;
  background: $white;
  color: $primary;
  border: 1px solid $primary;
}

.button-white {
  @extend .button;
  background: $white;
  color: $primary;
}
