header {
  display: flex;
  justify-content: space-between;
  background: $primary;
  color: white;
  padding: 10px;
  align-items: center;

  .user_info, .sections {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  .selected {
    background-color: $primary;
    color: $white;
    border-bottom: 1px solid $white;
  }
}
